*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    background: transparent url;
       
    
   
}

body{
    /* background:rgba(22,10,14,255); */
    
    color: black;
    overflow: hidden;
    overflow-y: scroll;
    color: rgb(236, 16, 85);

   
}
/* 
button{
    height: 38px;
    width: 100px;
    border-radius: 5px;
    border-color: white;
    background:rgba(22,10,14,255);
    color: white;
    margin-right: 70px;
} */


