.navbar{
height: 80px;
/* height: 5rem; */
/* width: 100VW; */
/* max-width: 75rem; */
margin: 0 auto;
padding: 1rem 2rem;
display: flex;
align-items: center;
justify-content: center;
justify-content: space-between;
position: sticky;
top:0;
background-color: white;
z-index: 20;
box-shadow:rgb(236, 16, 85);
box-shadow: 0 4px 6px -1px rgba(239, 9, 40, 0.1), 0 2px 4px -1px rgba(244, 10, 10, 0.06);


}




.logo{
     height: 50px; 
    
    
    margin-left: 10px;
    
}


.nav-links-items{
    margin: 40px;
}



.nav-links-items:hover{
    color: red;
    padding-bottom:5px;
    border-bottom: 3px solid red;
    font-size: larger;

   

}


.navMenu{
  position: absolute;
  top: 5rem;
  right: 1rem;
  z-index: 2;
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
  height: fit-content;
  min-width: 15rem;
  background: rgb(236, 16, 85);
  border-radius: 5%;

}

.btn{
  

  height: 38px;
  width: 130px;
  border-radius: 5px;
  border-color: red;
  color: rgb(236, 16, 85);
  
  margin-right: 10px;
}

.btn:hover{
  background-color:rgb(236, 16, 85); 
  color: white;
  height: 42px;
  width: 135px;
}




.btnImg{
    height: 20px;
    margin-top: 2px;
    border: solid rgb(236, 16, 85) 2px;
    border-radius: 5px;
    }

  .mobMenu{
    height: 50px;
    border-radius: 50%;
    
    
  }

  .mobMenu{
    display: none;
    object-fit: cover;
    height: 1.8rems;
  }


  
  .Menu-item{
    color: rgb(236, 16, 85) 2px;
    padding:0.5rem 3rem;
    margin: 0.25rem;
    background-color:rgb(250, 208, 221) ;
   
  }

  .Menu-item:hover{
    font-weight:bold;
    background-color: white;
  }


  @media screen and (max-width:700px) {
    .mobMenu{
        display: flex;
        
    }
    .nav-links{
        display: none;
    }
    .btn{
        display: none;
    }
    
  }
